body {
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
	box-sizing: border-box;
	background-color: rgb(20, 141, 111);
}

#pic {
	width: 50%;
	height: 100%;
	background-image:
		linear-gradient(rgba(168, 94, 94, 0.5),
		rgba(97, 6, 6, 0.5)),
		url(../img/image2.jpg);
	background-size: cover;
	background-position: center center;
}

#photo {
	background-color: linear-gradient(rgba(168, 94, 94, 0.5),
	rgba(26, 9, 9, 0.5));
	position: absolute;
	top: 0%;
	left: 50%;
	width: 50%;
	height: 100%;
}